<footer>
          <div class="footer_panel4">
            <div class="pages">
                <a href="#">Privacy Policy |</a>
                <a href="#">Terms  |  </a>
                <a href="#">Help Center </a>
            </div>

            <div class="copyright">
                &#169;	2025, Eduplay.com, Inc. or its affiliates
                
            </div>
        </div>
    </footer>
</body>
</html>