<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>
<body>
    <header>
        <div class="navigation">
            <div class="leftnav">    
                <i class="fa-solid fa-atom"></i>
                EduPlay

                </div>
       <div class="rightnav">

        <a href="#">Home</a>

        <a href="#">About</a>
        <a href="#">Features</a>
        <a href="#">Contact</a>
        <div class="selectoptions">
             <select id="languageselect">
            <option value="1">English</option>
            <option value="2">Hindi</option>
            <option value="3">Marathi</option>
            
        </select>
        <i class="fa-solid fa-globe" style="color: white;"></i>
        </div>
       
       </div>
        </div>
        
        
    

    </header>
