<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Student Login</title>
  <link rel="stylesheet" href="/styles/logincard_css.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
  <div class="main_card">
    <div class="card">
      <div class="image">
        <img src="/images/student-login.png" alt="login" />
      </div>

      <div class="rightside">
        <h1>Student Login</h1>
        <p class="signup-text">Not a member yet? <a href="#">Sign Up!</a></p>

        <div class="input-group">
          <label for="username"><i class="fa-solid fa-user"></i> Username or E-mail</label>
          <input type="text" id="username" />
        </div>

        <div class="input-group">
          <label for="password"><i class="fa-solid fa-lock"></i> Password</label>
          <input type="password" id="password" />
        </div>

        <div class="extraopt">
          <div class="rem">
            <input type="checkbox" id="remember" />
            <label for="remember">Remember Me</label>
          </div>
          <div class="forgot">
            <a href="#">Forgot Password?</a>
          </div>
        </div>

        <button class="primary-btn">Log In</button>
        <p class="divider">or</p>

        <div class="social-buttons">
  <button id="googleb">
    <img src="https://www.gstatic.com/images/branding/product/1x/gsa_ios_64dp.png" alt="Google Logo"> Google
  </button>
  <button id="fbb">
    <i class="fa-brands fa-facebook-f"></i> Facebook
  </button>
</div>

      </div>
    </div>
  </div>
</body>
</html>
